/*div {border: 1px solid red}*/

#nav {positon:relative; float:left; padding-top:10%; font-size:20px; line-height:2; color:#18540c}
#main {position:relative; float:left; margin: 0px 0px 0px 20px}

h1 {color:#18540c; font-size:24px}
body {background-color:#f7f8d8; color:#18540c}
span {margin: 0px; padding:0px}
a:link {color:inherit; text-decoration:underline;}
a:visited {color:inherit; text-decoration:underline;}

.textblock {width: 60%; font-size:18px}

.linkList {font-size 16px}
.linkList p {margin: 1px}
.linkList a {padding-left: 5%}
